<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <div class="loading-spinner" *ngIf="isLoading"></div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="input-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
            ngModel
          />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
            ngModel
          />
        </div>
        <button type="submit" [disabled]="isLoading">Login</button>
      </form>
      <p [ngClass]="messageColor">{{ loginMessage }}</p>
    </div>
  </div>
  
